In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from sklearn.preprocessing import LabelEncoder

In [32]:
fname = "/Users/fkoehlin/projects/TIDEHackathon2020/Challenge_A/Africa_1997-2020_Feb08.xlsx"
df = pd.read_excel(fname)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202057 entries, 0 to 202056
Data columns (total 29 columns):
ISO                 202057 non-null int64
EVENT_ID_CNTY       202057 non-null object
EVENT_ID_NO_CNTY    202057 non-null int64
EVENT_DATE          202057 non-null datetime64[ns]
YEAR                202057 non-null int64
TIME_PRECISION      202057 non-null int64
EVENT_TYPE          202057 non-null object
SUB_EVENT_TYPE      202057 non-null object
ACTOR1              202057 non-null object
ASSOC_ACTOR_1       43791 non-null object
INTER1              202057 non-null int64
ACTOR2              150983 non-null object
ASSOC_ACTOR_2       32822 non-null object
INTER2              202057 non-null int64
INTERACTION         202057 non-null int64
REGION              202057 non-null object
COUNTRY             202057 non-null object
ADMIN1              202057 non-null object
ADMIN2              201927 non-null object
ADMIN3              103728 non-null object
LOCATION            202057 non-null object
LATITUDE            202057 non-null float64
LONGITUDE           202057 non-null float64
GEO_PRECISION       202057 non-null int64
SOURCE              202057 non-null object
SOURCE_SCALE        202057 non-null object
NOTES               192754 non-null object
FATALITIES          202057 non-null int64
TIMESTAMP           202057 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(10), object(16)
memory usage: 44.7+ MB

In [130]:
df_af = df.sort_values(by="EVENT_DATE")

In [131]:
df_af_d = df_af.set_index("EVENT_DATE")

In [132]:
df_af_d["EVENT_DATE_MONTH"] = df_af_d.to_period("M").index

In [133]:
df_af_m = df_af_d.groupby(["EVENT_DATE_MONTH","COUNTRY"])["EVENT_TYPE"].value_counts().unstack().fillna(0)

In [134]:
df_af_m.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 8773 entries, (1997-01, Algeria) to (2020-02, Zimbabwe)
Data columns (total 6 columns):
Battles                       8773 non-null float64
Explosions/Remote violence    8773 non-null float64
Protests                      8773 non-null float64
Riots                         8773 non-null float64
Strategic developments        8773 non-null float64
Violence against civilians    8773 non-null float64
dtypes: float64(6)
memory usage: 439.6+ KB

In [135]:
df_af_m["FATALITIES"] = df_af_d.groupby(["EVENT_DATE_MONTH","COUNTRY"])["FATALITIES"].sum()

In [136]:
df_af_m

EVENT_TYPE                                     Battles  \
EVENT_DATE_MONTH COUNTRY
1997-01          Algeria                           8.0
                 Angola                            0.0
                 Burundi                           9.0
                 Central African Republic          6.0
                 Democratic Republic of Congo     16.0
...                                                ...
2020-02          Sudan                             0.0
                 Tunisia                           0.0
                 Uganda                            2.0
                 Zambia                            0.0
                 Zimbabwe                          0.0

EVENT_TYPE                                     Explosions/Remote violence  \
EVENT_DATE_MONTH COUNTRY
1997-01          Algeria                                             11.0
                 Angola                                               0.0
                 Burundi                                              0.0
                 Central African Republic                             0.0
                 Democratic Republic of Congo                         1.0
...                                                                   ...
2020-02          Sudan                                                0.0
                 Tunisia                                              0.0
                 Uganda                                               0.0
                 Zambia                                               0.0
                 Zimbabwe                                             0.0

EVENT_TYPE                                     Protests  Riots  \
EVENT_DATE_MONTH COUNTRY
1997-01          Algeria                            0.0    0.0
                 Angola                             0.0    0.0
                 Burundi                            0.0    0.0
                 Central African Republic           0.0    0.0
                 Democratic Republic of Congo       0.0    0.0
...                                                 ...    ...
2020-02          Sudan                              4.0    4.0
                 Tunisia                           25.0    0.0
                 Uganda                             2.0    2.0
                 Zambia                             0.0    3.0
                 Zimbabwe                           0.0    0.0

EVENT_TYPE                                     Strategic developments  \
EVENT_DATE_MONTH COUNTRY
1997-01          Algeria                                          0.0
                 Angola                                           1.0
                 Burundi                                          2.0
                 Central African Republic                         0.0
                 Democratic Republic of Congo                     0.0
...                                                               ...
2020-02          Sudan                                            0.0
                 Tunisia                                          0.0
                 Uganda                                           0.0
                 Zambia                                           0.0
                 Zimbabwe                                         1.0

EVENT_TYPE                                     Violence against civilians  \
EVENT_DATE_MONTH COUNTRY
1997-01          Algeria                                             23.0
                 Angola                                               3.0
                 Burundi                                              8.0
                 Central African Republic                             1.0
                 Democratic Republic of Congo                         3.0
...                                                                   ...
2020-02          Sudan                                                0.0
                 Tunisia                                              0.0
                 Uganda                                               3.0
                 Zambia                                               0.0
                 Zimbabwe                                             0.0

EVENT_TYPE                                     FATALITIES
EVENT_DATE_MONTH COUNTRY
1997-01          Algeria                              465
                 Angola                                40
                 Burundi                              796
                 Central African Republic              14
                 Democratic Republic of Congo         992
...                                                   ...
2020-02          Sudan                                  0
                 Tunisia                                0
                 Uganda                                 3
                 Zambia                                 2
                 Zimbabwe                               0

[8773 rows x 7 columns]

In [137]:
df_af_m.reset_index(inplace=True)

In [138]:
df_af_m
#df_af_m.info()

EVENT_TYPE,EVENT_DATE_MONTH,COUNTRY,Battles,Explosions/Remote violence,Protests,Riots,Strategic developments,Violence against civilians,FATALITIES
0,1997-01,Algeria,8.0,11.0,0.0,0.0,0.0,23.0,465
1,1997-01,Angola,0.0,0.0,0.0,0.0,1.0,3.0,40
2,1997-01,Burundi,9.0,0.0,0.0,0.0,2.0,8.0,796
3,1997-01,Central African Republic,6.0,0.0,0.0,0.0,0.0,1.0,14
4,1997-01,Democratic Republic of Congo,16.0,1.0,0.0,0.0,0.0,3.0,992
...,...,...,...,...,...,...,...,...,...
8768,2020-02,Sudan,0.0,0.0,4.0,4.0,0.0,0.0,0
8769,2020-02,Tunisia,0.0,0.0,25.0,0.0,0.0,0.0,0
8770,2020-02,Uganda,2.0,0.0,2.0,2.0,0.0,3.0,3
8771,2020-02,Zambia,0.0,0.0,0.0,3.0,0.0,0.0,2
8772,2020-02,Zimbabwe,0.0,0.0,0.0,0.0,1.0,0.0,0

In [139]:
df_af_m.keys()
#df_af_m = df_af_m.set_index("EVENT_DATE_MONTH")
#df_af_m['YEAR'] = df_af_m.to_period("Y").index

Index(['EVENT_DATE_MONTH', 'COUNTRY', 'Battles', 'Explosions/Remote violence',
       'Protests', 'Riots', 'Strategic developments',
       'Violence against civilians', 'FATALITIES'],
      dtype='object', name='EVENT_TYPE')

In [143]:
df_af_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8773 entries, 0 to 8772
Data columns (total 9 columns):
EVENT_DATE_MONTH              8773 non-null period[M]
COUNTRY                       8773 non-null object
Battles                       8773 non-null float64
Explosions/Remote violence    8773 non-null float64
Protests                      8773 non-null float64
Riots                         8773 non-null float64
Strategic developments        8773 non-null float64
Violence against civilians    8773 non-null float64
FATALITIES                    8773 non-null int64
dtypes: float64(6), int64(1), object(1), period[M](1)
memory usage: 617.0+ KB

In [144]:
df_af_m["EVENT_DATE_MONTH"]

0       1997-01
1       1997-01
2       1997-01
3       1997-01
4       1997-01
         ...
8768    2020-02
8769    2020-02
8770    2020-02
8771    2020-02
8772    2020-02
Name: EVENT_DATE_MONTH, Length: 8773, dtype: period[M]

In [145]:
df_tmp = pd.DataFrame()

In [166]:
df_af_m["EVENT_DATE_MONTH"].dt.year

0       1997
1       1997
2       1997
3       1997
4       1997
        ...
8768    2020
8769    2020
8770    2020
8771    2020
8772    2020
Name: EVENT_DATE_MONTH, Length: 8773, dtype: int64

In [167]:
df_af_m['YEAR'] = df_af_m["EVENT_DATE_MONTH"].dt.year

In [168]:
df_af_m

EVENT_TYPE,EVENT_DATE_MONTH,COUNTRY,Battles,Explosions/Remote violence,Protests,Riots,Strategic developments,Violence against civilians,FATALITIES,YEAR
0,1997-01,Algeria,8.0,11.0,0.0,0.0,0.0,23.0,465,1997
1,1997-01,Angola,0.0,0.0,0.0,0.0,1.0,3.0,40,1997
2,1997-01,Burundi,9.0,0.0,0.0,0.0,2.0,8.0,796,1997
3,1997-01,Central African Republic,6.0,0.0,0.0,0.0,0.0,1.0,14,1997
4,1997-01,Democratic Republic of Congo,16.0,1.0,0.0,0.0,0.0,3.0,992,1997
...,...,...,...,...,...,...,...,...,...,...
8768,2020-02,Sudan,0.0,0.0,4.0,4.0,0.0,0.0,0,2020
8769,2020-02,Tunisia,0.0,0.0,25.0,0.0,0.0,0.0,0,2020
8770,2020-02,Uganda,2.0,0.0,2.0,2.0,0.0,3.0,3,2020
8771,2020-02,Zambia,0.0,0.0,0.0,3.0,0.0,0.0,2,2020
8772,2020-02,Zimbabwe,0.0,0.0,0.0,0.0,1.0,0.0,0,2020

In [169]:
fname = "/Users/fkoehlin/projects/TIDEHackathon2020/Challenge_A/acled_africa_month_comp.csv"
df_af_m.to_csv(fname)